.toolbar{
  position: fixed;
  @media screen and (min-width: 768px){
    height: 64px;
  }
  .toolbar__title{
    .title{
      margin-left: 56px;
      line-height: 56px;
      color: $primary-color-text;
      @mixin font $text-title;
      @media screen and (min-width: 768px){
        line-height: 64px;
        margin-left: 72px;
      }
    }
  }
}
.headroom{
  width: 100%;
  height: 56px;
  background: $gradient;
  &--not-top{
    background: $primary-color;
    box-shadow: $shadow;
  }
  &--pinned{
    transform: translateY(0%);
  }
  &--unpinned{
    transform: translateY(-100%);
  }
}
.sidenav{
  z-index: 60;
  position:fixed;
  bottom: 0;
  top:0;
  overflow-y: auto;;
  background-color: rgb(255, 255, 255);
  max-height: 100vh;
  width: 320px;
  box-sizing: border-box;
  transition: transfom;
  @mixin transition $sharp;
  transform: translate3d(0,-100%,0);
  @media screen and (min-width: 450px){
  }
  .sidenav__toolbar{
    background: $primary-color;
    height: 128px;
    .logo{
      height: 70px;
    }
    h1{
      @mixin font $text-headline;
      color: $primary-color-text;
      padding-left: 24px;
    }
    h2{
      @mixin font $text-subhead;
      color: $primary-color-light;
      padding-left: 24px;
    }
  }
}
