
@define-mixin transition $name {
  transition-timing-function: $name;
  transition-duration: .325s;
}
@define-mixin font $name {
  @if $name == $text-title {
    letter-spacing: 5px;
    font-size: $text-title;
    font-weight: 500;
  }
  @else if $name == $text-display-4 {
    letter-spacing: -10px;
    font-size: $text-display-4;
    font-weight: 200;
  }
  @else if $name == $text-display-3 {
    letter-spacing: -5px;
    font-size: $text-display-3;
    font-weight: 400;
  }
  @else if $name == $text-display-2 {
    letter-spacing: normal;
    font-size: $text-display-2;
    font-weight: 400;
  }
  @else if $name == $text-display-1 {
    letter-spacing: normal;
    font-size: $text-display-1;
    font-weight: 400;
  }
  @else if $name == $text-headline {
    letter-spacing: normal;
    font-size: $text-headline;
    font-weight: 500;
  }
  @else if $name == $text-subhead {
    letter-spacing: normal;
    font-size: $text-subhead;
    font-weight: 500;
  }
  @else {
    line-height: 0px;
    letter-spacing: 0px;
    font-size: 5px;
  }
}
