
$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

$gradient: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);

$text-display-4: 112px;
$text-display-3: 56px;
$text-display-2: 45px;
$text-display-1: 34px;
$text-headline: 24px;
$text-subhead: 16px;
$text-title: 20px;
$text-menu: 14px;
$text-button: 14px;
$text-caption: 12px;
$text-body: 14px;

$shadow: 0 2px 5px rgba(0,0,0,.26);

$standar: cubic-bezier(0.4, 0, 0.2, 1);
$deceleracion: cubic-bezier(0, 0, 0.2, 1);
$aceleracion: cubic-bezier(0.4, 0, 1, 1);
$sharp: cubic-bezier(0.4, 0, 0.6, 1);
