/* ==========================================================================
   0. Normalize.css v2.1.3 | MIT License | git.io/normalize | (minified)
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}
body {
    margin: 0;
}
a {
    background: transparent;
}
a:active, a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
mark {
    background: #FF0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button, html
input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 1. Configuración general */
::-moz-selection {
    background: #FF5722;
    color: #FFFFFF;
}
::selection {
    background: #FF5722;
    color: #FFFFFF;
}
html {
    width: 100%;
    overflow-x: hidden;
    -webkit-transition: -webkit-transform 0.325s ease;
    transition: -webkit-transform 0.325s ease;
    transition: transform 0.325s ease;
    transition: transform 0.325s ease, -webkit-transform 0.325s ease;
}
body {
    background: #B2DFDB;
}
h1, h2, h3, h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #212121;
    line-height: 1.15em;
    margin: 0 0 0.4em 0;
    text-rendering: geometricPrecision;
}
a {
    color: #4A4A4A;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:hover {
    color: #FF5722;
}
p, ul, ol, dl {
    -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    margin: 0 0 1.75em 0;
    text-rendering: geometricPrecision;
}
ol, ul {
    padding-left: 48px;
    padding-left: 3rem;
}
ol ol, ul ul, ul ol, ol ul {
    margin: 0 0 0.4em 0;
    padding-left: 2em;
}
dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    margin-bottom: 1em;
}
dl dd {
    margin-left: 200px;
    margin-bottom: 1em;
}
li {
    margin: 0.4em 0;
}
li li {
    margin: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: #B6B6B6 1px solid;
    margin: 3.2em 0;
    padding: 0;
}
blockquote {
    box-sizing: border-box;
    margin: 1.75em 0 1.75em -2.2em;
    padding: 0 0 0 1.75em;
    border-left: #B6B6B6 0.3em solid;
}
blockquote p {
    margin: 0.8em 0;
    font-style: italic;
}
blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    color: #CCC;
}
blockquote small:before {
    content: "\2014 \00A0";
}
blockquote cite {
    font-weight: 700;
}
blockquote cite a {
    font-weight: normal;
}
mark {
    background-color: #fdffb6;
}
code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: #E3EDF3 1px solid;
    background: #F7FAFB;
    border-radius: 2px;
}
pre {
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    border: #E3EDF3 1px solid;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}
pre code, pre tt {
    font-size: inherit;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}
kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #B6B6B6 1px solid;
    color: #727272;
    text-shadow: #FFF 0 1px 0;
    font-size: 0.9em;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 0 0 #fff inset;
}
table {
    box-sizing: border-box;
    margin: 1.75em 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}
table th, table td {
    padding: 8px;
    line-height: 20px;
    line-height: 1.25rem;
    text-align: left;
    vertical-align: top;
    border-top: #EFEFEF 1px solid;
}
table th {
    color: #000;
}
table caption + thead tr:first-child th, table caption + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td {
    border-top: 0;
}
table tbody + tbody {
    border-top: #EFEFEF 2px solid;
}
table table table {
    background-color: #FFF;
}
table tbody > tr:nth-child(odd) > td, table tbody > tr:nth-child(odd) > th {
    background-color: #F6F6F6;
}
table.plain tbody > tr:nth-child(odd) > td, table.plain tbody > tr:nth-child(odd) > th {
    background: transparent;
}
iframe, .fluid-width-video-wrapper {
    display: block;
    margin: 1.75em 0;
}
/* When a video is inside the fitvids wrapper, drop the margin on the iframe, cause it breaks stuff. */
.fluid-width-video-wrapper iframe {
    margin: 0;
}
.toolbar {
    position: fixed;
}
.toolbar .toolbar__title .title {
    margin-left: 56px;
    line-height: 56px;
    line-height: 3.5rem;
    color: #FFFFFF;
    letter-spacing: 5px;
    letter-spacing: 0.3125rem;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    @else if $text-title == $text-display-3 {
        letter-spacing: -5px;
        letter-spacing: -0.3125rem;
        font-size: 56px;
        font-size: 3.5rem;
        font-weight: 400;
    }
    @else if $text-title == $text-display-2 {
        letter-spacing: normal;
        font-size: 45px;
        font-size: 2.8125rem;
        font-weight: 400;
    }
    @else if $text-title == $text-display-1 {
        letter-spacing: normal;
        font-size: 34px;
        font-size: 2.125rem;
        font-weight: 400;
    }
    @else if $text-title == $text-headline {
        letter-spacing: normal;
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    @else if $text-title == $text-subhead {
        letter-spacing: normal;
        font-size: 16px;
        font-size: 1rem;
        font-weight: 500;
    }
    @else {
        line-height: 0px;
        line-height: 0rem;
        letter-spacing: 0px;
        letter-spacing: 0rem;
        font-size: 5px;
        font-size: 0.3125rem;
    }
}
.headroom {
    width: 100%;
    height: 56px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%);
}
.headroom--not-top {
    background: #009688;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
.headroom--pinned {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}
.headroom--unpinned {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
}
.sidenav {
    z-index: 60;
    position: fixed;
    bottom: 0;
    top: 0;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
    max-height: 100vh;
    width: 320px;
    box-sizing: border-box;
    -webkit-transition: transfom;
    transition: transfom;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    -webkit-transition-duration: .325s;
            transition-duration: .325s;
    -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
}
.sidenav .sidenav__toolbar {
    background: #009688;
    height: 128px;
}
.sidenav .sidenav__toolbar .logo {
    height: 70px;
}
.sidenav .sidenav__toolbar h1 {
    letter-spacing: -10px;
    letter-spacing: -0.625rem;
    font-size: 112px;
    font-size: 7rem;
    font-weight: 200;
    @else if $text-headline == $text-display-3 {
        letter-spacing: -5px;
        letter-spacing: -0.3125rem;
        font-size: 56px;
        font-size: 3.5rem;
        font-weight: 400;
    }
    @else if $text-headline == $text-display-2 {
        letter-spacing: normal;
        font-size: 45px;
        font-size: 2.8125rem;
        font-weight: 400;
    }
    @else if $text-headline == $text-display-1 {
        letter-spacing: normal;
        font-size: 34px;
        font-size: 2.125rem;
        font-weight: 400;
    }
    @else if $text-headline == $text-headline {
        letter-spacing: normal;
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    @else if $text-headline == $text-subhead {
        letter-spacing: normal;
        font-size: 16px;
        font-size: 1rem;
        font-weight: 500;
    }
    @else {
        line-height: 0px;
        line-height: 0rem;
        letter-spacing: 0px;
        letter-spacing: 0rem;
        font-size: 5px;
        font-size: 0.3125rem;
    }
    color: #FFFFFF;
    padding-left: 24px;
}
.sidenav .sidenav__toolbar h2 {
    letter-spacing: -10px;
    letter-spacing: -0.625rem;
    font-size: 112px;
    font-size: 7rem;
    font-weight: 200;
    @else if $text-subhead == $text-display-3 {
        letter-spacing: -5px;
        letter-spacing: -0.3125rem;
        font-size: 56px;
        font-size: 3.5rem;
        font-weight: 400;
    }
    @else if $text-subhead == $text-display-2 {
        letter-spacing: normal;
        font-size: 45px;
        font-size: 2.8125rem;
        font-weight: 400;
    }
    @else if $text-subhead == $text-display-1 {
        letter-spacing: normal;
        font-size: 34px;
        font-size: 2.125rem;
        font-weight: 400;
    }
    @else if $text-subhead == $text-headline {
        letter-spacing: normal;
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    @else if $text-subhead == $text-subhead {
        letter-spacing: normal;
        font-size: 16px;
        font-size: 1rem;
        font-weight: 500;
    }
    @else {
        line-height: 0px;
        line-height: 0rem;
        letter-spacing: 0px;
        letter-spacing: 0rem;
        font-size: 5px;
        font-size: 0.3125rem;
    }
    color: #B2DFDB;
    padding-left: 24px;
}
.content {
    padding-top: 54px;
}
@media screen and (min-width: 768px) {
    .toolbar {
        height: 64px;
    }
    .toolbar .toolbar__title .title {
        line-height: 64px;
        line-height: 4rem;
        margin-left: 72px;
    }
    .content {
        padding-top: 64px;
    }
}
@media screen and (min-width: 450px) {
    .sidenav {}
}
